# Ignore image files and test_images folder for Docker build context
*.tif
*.jpg
*.jpeg
*.png
test_images/
geoint-dem-detection/test_images/
AW_bearbetning_2025_test/
data/
preprocessed/
sluss/
*.pyc
__pycache__/
logs/
data/
temp/
.git/
*.tif
*.zip
*.tar
